
<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src='static/Chart.min.js'></script> 
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Guado</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('blast') }}">Outgoing Blast</a></li>
            <li><a href="{{ url_for('inout') }}"> Outgoing  Vs On Demand </a></li>
            <li><a href = '/logout'>Log Out</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      <table border = 1>
  <tr>
    <th>Monthly Sms Rate</th>
    
    
  </tr>
  <tr>
    <td> <figure><embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:900px'/></figure>  </td>
  
  </tr>

</table>


  
    </div>
    
      
      {% endblock %}
    
  </body>
</html

SELECT  COUNT(*) FROM gd_sms_incoming WHERE gd_sms_incoming.sent_date_time BETWEEN 's_date' AND 'e_date' ;


e_date = '2018/01/01'
s_date = '2018/03/01'
SELECT COUNT(*) FROM gd_sms_outgoing WHERE gd_sms_incoming.sent_date_time BETWEEN  e_date AND s_date
        
datediff(day, e_date, s_date)
from gd_sms_incoming
group id;


SELECT COUNT(*) FROM   gd_sms_incoming WHERE  datediff(e_date,s_date);




SELECT gd_sms_incoming "guadoOld-5-12-2018 ",
        ROUND(SUM(data_length + index_length) / 1024 / 1024, 1) "DB Size in MB" 
FROM information_schema.tables 
GROUP BY gd_sms_incoming_schema; 

 admin = Enduser(email="admin@gmail.com", username ="admin",password="@password123",is_admin=True)
