
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}

<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src='static/Chart.min.js'></script> 
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Guado</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('blast') }}">Outgoing Blast</a></li>
            <li><a href="{{ url_for('inout') }}"> Outgoing  Vs On Demand </a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      <table border = 1>
  <tr>
    <th>Login To Continue</th>
    
    
  </tr>
  <tr>
    <td><form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
        <input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
        <input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
 
</div>
</div>
</div>
</form> </td>
  
  </tr>

</table>


  
    </div>
    
      
      {% endblock %}
    
  </body>
</html>
{% endif %}
{% endblock %}































 